<% @tweets.each do |tweet| %>
  <br>
  <div>
    <span>
      @<%= tweet.user.user_name %>
    </span>
    <br>
    <span>
      <%= tweet.content %>
    </span>
    <br>
    <span>
      S2 -> <%= tweet.likes.size %>
    </span>
    <br>
    <span>
      <% if !@likes.include?(tweet.id) %>
        <%= link_to :like, user_tweet_like_path(user_user_name: current_user.user_name, tweet_id: tweet.id), :method => :post %>
      <% else %>
        <%= link_to :dislike, user_tweet_like_path(user_user_name: current_user.user_name, tweet_id: tweet.id), :method => :post %>
      <% end %>
    </span>
  </div>
<% end %>