<% @tweets.each do |tweet| %>
  <div class="card">
  <div class="card-header">
    <% if tweet.user.avatar.attached? %>
    <%= image_tag tweet.user.avatar.variant(resize: "64x64"), :class => "circle" %>
    <% end %>
    <strong><%= tweet.user.display_name %></strong>
  </div>
  <div class="card-body">
    <p class="card-text">
      <%= tweet.user.user_name %><br>
      <%= tweet.content %>
    </p>
    <% if !@likes.include?(tweet.id) %>
        <%= link_to user_tweet_like_path(user_user_name: current_user.user_name, tweet_id: tweet.id), :method => :post do%>
        <i class="material-icons">
          favorite_border
        </i>
        <% end %>
      <% else %>
        <%= link_to user_tweet_like_path(user_user_name: current_user.user_name, tweet_id: tweet.id), :method => :post do %>
        <i class="material-icons">
          favorite
        </i>
        <% end %>
      <% end %>
  </div>
</div>
<% end %>