<div class="card" style="width: 18rem;">
  <% if @user.avatar.attached? %>
    <%= image_tag @user.avatar %>
  <% end %>
  <div class="card-body">
    <h5 class="card-title">
      <%= link_to @user.user_name, user_path(@user.user_name) %>
    </h5>
    <p>
      Following: <%= @user.followed_users.size %> |
      Followers: <%= @user.follower_users.size %> |
      Tweets: <%= @user.tweets.size %>
    </p>
    <p class="card-text"><%= @user.profile_description %></p>
    <div id="follow_button">
      <%= render "#{@follow_button}_button"  %>
    </div>
  </div>
</div>