<!DOCTYPE html>
<html>
  <head>
    <title>Twitter</title>
    <%= csrf_meta_tags %>
    <%= csp_meta_tag %>

    <%= stylesheet_link_tag    'application', media: 'all', 'data-turbolinks-track': 'reload' %>
    <%= javascript_include_tag 'application', 'data-turbolinks-track': 'reload' %>
  </head>

  <body>
    <div>
      <h2 id="navbar-logo">Twitter</h2>
      <div id="navigation-menu">
        <% if user_signed_in? %>
          <%= link_to :My_profile, user_path(current_user.user_name) %>
          <%= link_to :Log_out, destroy_user_session_path, method: :delete %>
        <% else %>
        <% end %>
      </div>
    </div>
    <p class="notice"><%= notice %></p>
    <p class="alert"><%= alert %></p>
    <%= yield %>
  </body>
</html>
